<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('Conexiones/head.ejs')%>
</head>
<body>
    <%- include('Conexiones/navigation.ejs') %>
    <h1>Agregar Proyectos</h1>


    <footer>
        <%- include('Conexiones/footer.ejs') %>
      </footer>
</body>

</html>