<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/estilos.css">
    <title><%= title %></title>
    <%- include('Conexiones/head.ejs') %>
    
</head>
<body>
    <%- include('Conexiones/navigation.ejs') %>
 

    <div class="container-fluid" >
        <h1>Proyectos</h1>
    </div>
    <div class="contenedor">
        <div class="card" style="width: 18rem;">
            <img src="/img/Bosque.jpg" class="card-img-top" alt="Bosque">
            <div class="card-body">
              <h5 class="card-title">Proyecto Contabilidad</h5>
              <p class="card-text">Proyecto Dedicado a la mejora y la solucion de problemas contables.</p>
              <a href="#" class="btn btn-primary">Abrir Proyecto</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="/img/Bosque.jpg" class="card-img-top" alt="Bosque">
            <div class="card-body">
              <h5 class="card-title">Proyecto Contabilidad</h5>
              <p class="card-text">Proyecto Dedicado a la mejora y la solucion de problemas contables.</p>
              <a href="#" class="btn btn-primary">Abrir Proyecto</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="/img/Bosque.jpg" class="card-img-top" alt="Bosque">
            <div class="card-body">
              <h5 class="card-title">Proyecto Contabilidad</h5>
              <p class="card-text">Proyecto Dedicado a la mejora y la solucion de problemas contables.</p>
              <a href="#" class="btn btn-primary">Abrir Proyecto</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="/img/Bosque.jpg" class="card-img-top" alt="Bosque">
            <div class="card-body">
              <h5 class="card-title">Proyecto Contabilidad</h5>
              <p class="card-text">Proyecto Dedicado a la mejora y la solucion de problemas contables.</p>
              <a href="#" class="btn btn-primary">Abrir Proyecto</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="/img/Bosque.jpg" class="card-img-top" alt="Bosque">
            <div class="card-body">
              <h5 class="card-title">Proyecto Contabilidad</h5>
              <p class="card-text">Proyecto Dedicado a la mejora y la solucion de problemas contables.</p>
              <a href="#" class="btn btn-primary">Abrir Proyecto</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="/img/Bosque.jpg" class="card-img-top" alt="Bosque">
            <div class="card-body">
              <h5 class="card-title">Proyecto Contabilidad</h5>
              <p class="card-text">Proyecto Dedicado a la mejora y la solucion de problemas contables.</p>
              <a href="#" class="btn btn-primary">Abrir Proyecto</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="/img/Bosque.jpg" class="card-img-top" alt="Bosque">
            <div class="card-body">
              <h5 class="card-title">Proyecto Contabilidad</h5>
              <p class="card-text">Proyecto Dedicado a la mejora y la solucion de problemas contables.</p>
              <a href="#" class="btn btn-primary">Abrir Proyecto</a>
            </div>
          </div>
          
    </div>
    <footer>
        <!-- <%- include('Conexiones/footer.ejs') %> -->
      </footer>
</body>


</html>