<footer class="bg-dark text-center p-6 align-items=center justify-content=center">
    <h1>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Eligendi asperiores sint pariatur ipsam impedit beatae vitae corporis excepturi, quos a quo, ea odio qui, odit in placeat reprehenderit cum et.</h1>
</footer>